#
# EtherCAT Master Kernel Modules
#

[Unit]
Description=EtherCAT Master Kernel Modules

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/epics/drivers/ethercat/etherlabmaster-code/sysroot/sbin/ethercatctl start
ExecStop=/epics/drivers/ethercat/etherlabmaster-code/sysroot/sbin/ethercatctl stop

[Install]
WantedBy=multi-user.target
